<!DOCTYPE html>

<html>
  <head>
    <title>LibraryView</title>
  </head>
 
  <body>
    <element name="LibraryView" extends="div">
      <template>
        <template if="!hidden">
          
          <div class="row">
            <div class="span6 offset3">
              
              [LIBRARY]
              
            </div>
          </div>
          
          
        
        </template>
      </template>
          
          

      <script type="application/dart">
        import 'dart:html';
        import 'package:web_ui/web_ui.dart';
        import 'package:js/js.dart' as js;
        import '../udjlib.dart';
  
  
        class LibraryView extends WebComponent {
          UdjApp udj;
          LibraryState state;
          bool hidden = true;
                   
          void setup(UdjApp udj, LibraryState state) {
            this.udj = udj;
            this.state = state;
            this.state.setLibraryView();
          }
            
          // Events
          // ------------------------------------------------------------------
      
          void _submit(Event e){
            e.preventDefault();
            //state.login(_username, _password);
          }
        } // End of class definition
        
      </script>    
        
    </element>
  </body>
</html>
