<!DOCTYPE html>

<html>
  <head>
    <title>LoginView</title>
  </head>
 
  <body>   
  
  <element name="LoginView" extends="div">
    <template>
      <template if="!hidden">
      <div class="container">
        <div class="row">
          <div class="span4 offset4 loggin-box">
            <form class="well loggin-box-inner">
              <img src="../assets/img/logo-big.png" style="width: 96px; height: 96px;">
              <h2>UDJ</h2>
              <template if="state.errorMessage != null">
                <div class="alert alert-error login-error">{{state.errorMessage}}</div>
              </template>
              <input type="text" bind-value="_username" placeholder="Username" class="input input-medium"><br>
              <input type="password" bind-value="_password" placeholder="Password" class="input input-medium"><br>
              <button on-click="_submit($event)" type="submit" class="btn btn-primary">Login</button>
              <br>
              <br>
              <p>
                <a href="https://www.udjplayer.com/recover/">I forgot my username or password.</a><br>
                <a href="https://www.udjplayer.com/registration/register/">Don't have an account? Create one.</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      </template>
    </template>
    
    <script type="application/dart">
      import 'dart:html';
      import 'package:web_ui/web_ui.dart';
      import '../udjlib.dart';

      class LoginView extends WebComponent {
        UdjApp udj;
        LoginState state;
        bool hidden = true;
        String _username = "";
        String _password = "";
        
        void setup(UdjApp udj, LoginState state) {
          this.udj = udj;
          this.state = state;
        }
                
        // Events
        // ------------------------------------------------------------------
  
        void _submit(Event e){
          e.preventDefault();
          state.login(_username, _password);
          _password = "";
        }
      }
    </script>
    
  </element>
  
  
  </body>
</html>