<!DOCTYPE html>

<html>
  <head>
    <title>MainView</title>
    
    <link href="LoginView.html" rel="components">
  </head>
 
  <body>   
  
  <element name="x-main-view" extends="div">
    <template>
      <div id="udj-login" is="x-login-view"></div>
    </template>
    
    <script type="application/dart">
      import 'dart:html';
      import 'package:web_ui/web_ui.dart';
      
      import '../udjlib.dart';

      class MainView extends WebComponent {
        UdjApp udj;
        
        LoginState loginState;
        
        void inserted() {
          var loginView = document.query("#udj-login").xtag;
          loginView.setup(udj, new LoginState(udj));
        }
      }
    </script>
    
  </element>
  
  </body>
</html>
