<!DOCTYPE html>

<html>
  <head>
    <title>MainView</title>
    
    <link href="LoginView.html" rel="import">
    <link href="PlayerSelectView.html" rel="import">
    <link href="TopBarView.html" rel="import">
    <link href="LibraryView.html" rel="import">
    <link href="SideBarView.html" rel="import">
    <link href="PlayerCreateView.html" rel="import">
  </head>
 
  <body>   
  
  <element name="MainView" extends="div">
    <template>
      <div id="udj-login" is="LoginView"></div>
      <div id="udj-top-bar" is="TopBarView"></div>
      <div id="udj-player-select" is="PlayerSelectView"></div>
      <div id="udj-library" is="LibraryView"></div>
      <div id="udj-side-bar" is="SideBarView"></div>
      <div id="udj-player-create" is="PlayerCreateView"></div>
    </template>

    <script type="application/dart">
      import 'dart:html';
      import 'package:web_ui/web_ui.dart';
      
      import '../udjlib.dart';

// Class Main View declaration
//------------------------------------------------------------------------
      class MainView extends WebComponent {
        UdjApp udj;
        
        LoginState _loginState;
        var _loginView;
        
        PlayerSelectState _playerSelectState;
        var _playerSelectView;
        
        TopBarState _topBarState;
        var _topBarView;
        
        LibraryState _libraryState;
        var _libraryView;
        
        SideBarState _sideBarState;
        var _sideBarView;
        
        PlayerCreateState _playerCreateState;
        var _playerCreateView;
        
        void inserted() {
          _loginState = new LoginState(udj);
          _loginView = document.query("#udj-login").xtag;
          _loginView.setup(udj, _loginState);
          
          _playerSelectState = new PlayerSelectState(udj);
          _playerSelectView = document.query("#udj-player-select").xtag;
          _playerSelectView.setup(udj, _playerSelectState);
          
          _topBarState = new TopBarState(udj);
          _topBarView = document.query("#udj-top-bar").xtag;
          _topBarView.setup(udj, _topBarState);
          
          _libraryState = new LibraryState(udj);
          _libraryView = document.query("#udj-library").xtag;
          _libraryView.setup(udj, _libraryState);
          
          _sideBarState = new SideBarState(udj);
          _sideBarView = document.query("#udj-side-bar").xtag;
          _sideBarView.setup(udj, _sideBarState);
          
          _playerCreateState = new PlayerCreateState(udj);
          _playerCreateView = document.query("#udj-player-create").xtag;
          _playerCreateView.setup(udj, _playerCreateState);
          
          // watchers to change state
          watch(() => udj.state.currentUsername, _chooseView);
          watch(() => udj.state.currentPlayer, _chooseView);
          watch(() => udj.state.creatingPlayer, _chooseView);
          
          // set initial state once the app loads
          if (udj.state.ready) {
            _chooseView(null);
            // is this ever the case?
          } else {
            watch(() => udj.state.ready, _chooseView);
          }
        }

        void _chooseView(_) {

          /* Set of views to show when logging in or when logged out */
          if (udj.state.currentUsername == null) {
            _loginView.hidden = false;
            _playerSelectView.hidden = true;
            _playerCreateView.hidden = true;
            _topBarView.hidden = true;
            _sideBarView.hidden = true;
            _libraryView.hidden = true;
          }
    
          /* Creating a new player */
          else if (udj.state.creatingPlayer) {
            _topBarView.hidden = true;
            _sideBarView.hidden = true;
            _libraryView.hidden = true;
            _playerSelectView.hidden = true;
            _loginView.hidden = true;
            _playerCreateView.hidden = false;
          }
    
          // choose a player
          else if (udj.state.currentPlayer == null) {
            _loginView.hidden = true;
            _playerSelectView.hidden = false;
            _playerCreateView.hidden = true;
            _topBarView.hidden = false;
            _sideBarView.hidden = true;
            _libraryView.hidden = true;
      
          }
        
          // use udj
          else {
            _loginView.hidden = true;
            _playerSelectView.hidden = true;
            _playerCreateView.hidden = true;
            _topBarView.hidden = false;
            _sideBarView.hidden = false;
            _libraryView.hidden = false;
            
          }
        }
      } // End of class declaration
      
    </script>
  </element>
  </body>
</html>